*{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.Chicken.Platter {
    font-size: 30px;
    text-align: center;
    background-color: black;
    color:white;
}

.Platter.One {
    width:300px;
    height:300px;
}
.Platter.Image{
    text-align:center;
    border-style:dashed;
}

.mychicken {
    margin-left: 10px;
}

.yourchicken {
    margin-left: 530px;
}

.ourchicken {
    margin-left:500px;
}
